<div class="container">

	<form class="form-horizontal">



		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h4 class="panel-title">
						<b>Hire a Handyman</b>
					</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">

						<!-- <table class = "table"> -->
						<div class="form-group">
							<label class="control-label col-sm-2" for="email"><b>Email
							</b></label>

							<div class="col-sm-5">
								<input type="text" class="form-control" id="email"
									ng-model="email" placeholder="Enter email">
							</div>

						</div>

						<div class="form-group">

							<label class="control-label col-sm-2"><b>Looking For
							</b></label>


							<div class="col-sm-5">
								<select ng-model="artisanType">
									<option value="carpenter">Carpenter
									<option value="mason">Mason
									<option value="plumber">Plumber
									<option value="electrician">Electrician
									<option value="painter">Painter
								</select>
							</div>

						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="comment"><b>Describe
									in few words </b></label>


							<div class="col-sm-5">
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>

						</div>

						<div class="form-group"></div>



					</div>
				</div>
			</div>
			
			<!-- ======customer info panel=========  -->
			
			<div class = "panel panel-default">
				<div class="panel-heading text-center">
					<h4 class="panel-title">
						<b>Contact Info</b>
					</h4>
				</div>
				
				<div class = "panel-body">
					<div class = "form-group">
					
						<div class="form-group">
							<label class="control-label col-sm-2" for="email"><b>Email
							</b></label>

							<div class="col-sm-5">
								<input type="text" class="form-control" id="email"
									ng-model="email" placeholder="Enter email">
							</div>

						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="name"><b>Name
							</b></label>

							<div class="col-sm-5">
								<input type="text" class="form-control" id="name"
									ng-model="name" placeholder="Enter Name">
							</div>

						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="email"><b>Email
							</b></label>

							<div class="col-sm-5">
								<input type="text" class="form-control" id="email"
									ng-model="email" placeholder="Enter email">
							</div>

						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="phone"><b>Contact #
							</b></label>

							<div class="col-sm-5">
								<input type="text" class="form-control" id="phone"
									ng-model="phone" placeholder="Enter Contact #">
							</div>

						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="address"><b>Address
							</b></label>

							<div class="col-sm-5">
								<input type="text" class="form-control" id="address"
									ng-model="address" placeholder="Enter Address">
							</div>

						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		
		
		
		
		
		
	</form>

</div>